@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&family=Shantell+Sans:ital,wght@0,300;1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #d5e1ef;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}
.card{
    width: 320px;
   padding: 16px;
   border-radius: 19px;
   background-color: white;
}

.card > img{
    max-width: 100%;
    border-radius: 12px;
}

.title{
    text-align: center;
    margin: 20px 0;
    font-size: 1.4rem;

}
.card > p{
    text-align: center;
    margin-bottom: 20px;
}